@mixin line-menu() {
  display: block;

  ul.dropdown-menu {
    text-align: left;
    font-size: 14px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    @include transition(opacity, 0.2s, ease-in);

    &.active {
      padding: 5px 0;
      height: auto;
      opacity: 1;
      overflow: visible;
    }

    li {
      margin-left: 0px;
    }
  }

  & + li {
    margin-left: 20px;
  }

  a, a:visited {
    padding: 10px 0px;
    display: block;
    color: $color_menu;

    &:hover {
      color: lighten($color_menu, 20%);
      text-decoration: underline;
    }
  }
}

.menu {
  ul {
    li {
      display: block;

      &.dropdown > a:after {
        font-family: 'Glyphicons Halflings Regular', Helvetica, Arial, sans-serif;
        content: " \E114";
        font-size: 0.7em;
        display: inline-block;
        margin-left: 0.5em;
      }

      a {
        text-align: center;
      }
    }
  }
}

@media(min-width: $screen-md) {
  .menu {
    display: inline;

    ul {
      height: auto;
      opacity: 1;
      overflow: visible;
      margin: 0;
      padding: 0;
      text-align: center;
      @include transition(opacity, 0.2s, ease-in);

      li {
        display: inline-block;

        a, a:hover, a:visited {
          display: inline-block;
          padding: 10px;
        }
      }
    }
  }
}