<footer id="site-footer">
  <div class="social">
    <h1>Social</h1>
    <ul>
      <li>
        <a class="social-link facebook" href="https://www.facebook.com/MAB.Brasil/" target="_blank">MAB Brasil</a>
      </li>
      <li>
        <a class="social-link twitter" href="http://twitter.com/MAB_Brasil" target="_blank">MAB Brasil</a>
      </li>
      <li>
        <a class="social-link youtube" href="https://www.youtube.com/user/mabcomunicacao" target="_blank">MAB Brasil</a>
      </li>
      <li>
        <a class="social-link rss" href="{{ site.url }}/rss.xml" target="_blank">RSS</a>
      </li>
    </ul>
  </div>

  <div class="parceiros">
    <ul>
      <li>
        <a href="{{ site.base_url }}/2015/12/21/contribua-com-a-luta-dos-atingidos/" target="_blank" >
          <img alt="Link externo para campanha" src="{{ site.baseurl }}/assets/img/bannerMAB.jpg">
        </a>
      </li>
    </ul>
  </div>
</footer>
