<footer>
  <div class="social">
    <h1>Social</h1>
    <ul>
      <li>
        <a class="facebook" href="https://www.facebook.com/MAB.Brasil/">MAB Brasil</a>
      </li>
      <li>
        <a class="twitter" href="http://twitter.com/MAB_Brasil">MAB Brasil</a>
      </li>
      <li>
        <a class="rss" href="{{ site.url }}/rss.xml">RSS</a>
      </li>
    </ul>
  </div>

  <div class="parceiros">
    <h1>Parceiros</h1>
    <ul>
      <li>
        <a href="http://www.brasildefato.com.br">
          <img alt="Link externo para o brasil de fato" src="http://farm6.staticflickr.com/5588/14681224595_ed98aefc58_b.jpg">
        </a>
      </li>
    </ul>
  </div>
</footer>
