<header class="site-header">
  <div class="cover">
    <button class="open" title='Abrir menu mobile'></button>
    <div id ='logo-container'>
      <a href="{{ site.baseurl }}/" class="logo">
        <img alt="Logotipo" src="{{ site.baseurl }}/assets/img/logo_small_white.png">
      </a>
      <h1>{{ site.title }}</h1>
      <h2>{{ site.short_description }}</h2>
    </div>
  </div>
  <nav role="navigation" class='menu'>
    <ul>
      {% for my_page in site.pages %}
        {% if my_page.title %}
        <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</header>
