.contato-container {
  width: 90%;
  margin: 0 auto;

  > div {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: center;

    @media(min-width: $screen-sm) {
      width: 45%;
      min-height: 350px;
    }
  }

  h1 {
    border-bottom: 1px solid $gray-lighter;
    color: $brand-primary;
    margin: 5px 0 30px;

    > span {
        display: block;
        font-size: 11px;
    }
  }

  .mensagem {
    .contato-form {
      margin-bottom: 10px;

      label {
        display: none;

        @media(min-width: $screen-md) {
          display: inline-block;
          margin: 0 0 5px;
          width: 20%;
          height: 34px;
          text-align: right;
          color: $gray-light;
          padding: 3px 5px;
        }
      }

      input[type="text"], input[type="email"], textarea {
        border: 1px solid $gray-lighter;
        border-radius: 4px;
        color: $gray-light;
        padding: 3px 5px;
        margin-bottom: 15px;
        width: 100%;
        padding: 6px 12px;
        font: 14px $font-family-base;
        line-height: 1.4;

        @media(min-width: $screen-md) {
          width: 70%;
          display: inline-block;
          vertical-align: middle;
          margin-bottom: 0;
        }
      }

      input[type="text"], input[type="email"] {
        height: 34px;
      }

      .button {
        background: $brand-primary;
        border: none;
        margin: 10px 0;
        padding: 10px 40px;
        color: white;
        cursor: pointer;

        &:hover {
          background: lighten($brand-primary, 20%);
        }
      }
    }
  }

  .contato {
    margin-top: 20px;

    @media(min-width: $screen-sm) {
      float: right;
      margin-top: 0;
    }

    h2 {
      color: $brand-primary;
      margin: 0 0 20px;
    }

    h3 {
      font-size: 16px;
    }

    p {
      font-weight: 400;
      font-size: 1em;
    }

    span {
      margin: 0 auto;
    }
  }

}