$header_text: white;

.reports {
  width: 100%;
  overflow-x:scroll;

  > .reports-inner {
    position:relative;
    margin: 0 auto;

    > .report-item {
      float:left;
      cursor:pointer;
      overflow-y: hidden;

      > .report-item-inner {

        background: rgba(0,0,0,0.0);
        height: 100%;
        width: 100%;

        &:hover {
          background: rgba(28,118,154,0.5);
        }

        > .report-header {

          background: rgba(0,0,0,0.3);
          padding: 1px;
          margin-top: 10px;
          font-size: 20px;

          > time {
            color: darken($header_text, 40%);
            font-size: 11px;
            margin-left: 10%;
          }

          > h3 {
            color: $header_text;
            margin: 0% 0% 5% 10%;
          }

        }

      }

    }
  }
}
