$header_text: white;

.videos {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;

  button.navigation {
    display: none;
    position: absolute;
    opacity: 0.3;
    background-color: black;
    border: none;
    color: white;
    width: 3%;
    min-width: 40px;
    top: 0;
    bottom: 0;

    &:hover {
      opacity: 0.5;
      cursor: pointer;
    }

    &:active {
      opacity: 0.8;
      cursor: pointer;
    }

    &:before {
      font-family: 'Glyphicons Halflings Regular';
      font-size: 1.3em;
    }

    &.prev {
      left: 0;

      &:before {
        content: "\e079";
      }
    }

    &.next {
      right: 0;

      &:before {
        content: "\e080";
      }
    }

    @media(min-width: $screen-sm) {
      display: block;
    }
  }

  .videos-list {
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0;

    li {
      display: block;
      width: 100%;
      height: 300px;
      padding: 0;
      background-size: cover;
      background-position: center;

      a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 10px 0 0 0;
        text-align: left;

        &:hover {
          text-decoration: none;
          color: $header_text;
          background-color: rgba(28,118,154,0.5);
        }

        .video-content {
          background: rgba(0,0,0,0.3);
          padding: 2px;
          font-size: 1.2em;

          time {
            color: darken($header_text, 40%);
            font-size: 0.7em;
            margin-left: 10px;
          }

          h3 {
            color: $header_text;
            margin: 0 0 0 10px;
          }
        }
      }

      @media(min-width: $screen-sm) {
        display: inline-block;
        width: 300px;
        height: 460px;
      }
    }
  }
}
