main.post {
  article {
    overflow: hidden;
    position: relative;

    header {
      h1 {
        margin: 0;
        font-weight: 700;
        word-wrap: break-word;
        clear: both;
      }

      p {
        font-size: 1.2em;
        font-family: $font-family-sans;
        font-weight: 400;
        margin: 0 0 10px 0;
        color: $mst-medium-gray;
      }

      span.editoria {
        font-size: 1.1em;
        color: $brand-primary;
        font-family: $font-family-sans;
        font-weight: 700;
      }
    }

    .article-detail {
      display: block;
      font-size: 1em;
      font-weight: 400;
      font-family: $font-family-sans;
      color: $mst-medium-gray;
      margin-bottom: 15px;

      p {
        margin: 0;
      }
    }

    .article-body {
      img {
        width: 100%;
        height: auto;
      }
    }

    p {
      font-size: 1.1em;
    }

    .img-cover {
      max-width: 100%;
    }

    img[style*="float:left"]{
      margin: 30px 30px 30px 0;
    }

    img[style*="float:right"]{
      margin: 30px 0px 30px 30px;
    }

    figure img{
      margin: 0;
      display: block;
    }
    figure[style*="float:right"] {
      margin: 30px 0px 30px 30px;
    }

    figure[style*="float:left"]{
      margin: 30px 30px 30px 0;
    }

    figcaption {
      background-color: #DDD;
      padding: 5px 10px;
      font-size: 13px;
    }
    object, iframe {
      max-width: 100%;
    }
  }

  .tags {
    margin-bottom: 10px;
    overflow: hidden;

    .tag {
      font-family: $font-family-sans;
      float: left;
      margin-bottom: 5px;
      margin-right: 5px;
    }
  }

  .social {
    margin: 10px 0;

    img{
      display: inline-block;
      width: 28px;
      height: auto;
    }
  }
  footer{
    a{
      font-size: 17px;
    }
  }
}

figure.social-button {
  vertical-align: top;
  box-shadow: 0px 0px 0px;
  margin-top: -2px;
}


@media(min-width: $screen-sm) {
  main.post {
    width: 80%;
    margin-left: 128px;

    article {
      padding-right: 0;

      header, .article-body, .article-detail {
        width: 74%;
        max-width: 753px;
      }

      .img-cover {
        max-width: 75%;
      }
    }
  }
}