article.headline {
  padding: 0 !important;

  time{
    color: $mst-medium-gray;
    font-size: 13px;
  }
  figure {
    height: 190px;
    background-size: cover;

    &:hover {
      opacity: 0.8;
    }
  }

  h1 {
    font-size: 1.8em;
    margin-top: 8px;
    text-align: left;
    font-family: $font-family-sans;
    font-weight: 700;

    a {
      color: $gray-dark;
      display: block;
    }
  }

  p.support-line {
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 1em;
    margin: 8px 0 15px 0;
    a {
      color: $gray-dark;
    }
  }
}
