$color_menu: $brand-primary;
$background_color_menu: white;
$logo_height: 100px;
$padding: 20px;
@import "mixins";
@import "header/cover";
@import "header/menu";
@import "header/menu_mobile";
#site-header {
  background-color: $background_color_menu;
  color: white;
  box-shadow: none;
  font-family: $font-family-sans;

  nav {
    display: inline;
  }

  @media(min-width: $screen-sm) {
    border-bottom: 1px solid $color_menu;
  }
}
