---
layout: default
styles: ["album.css"]
scripts: ["latest-news/laster.js", "album.js"]
---
<main class="post">
  <article>
    <header>
      <span class="editoria">{{ page.editoria | upcase }}</span>
      <h1 itemprop="name">{{ page.title }}</h1>
      <p itemprop="description">{{ page.support_line }}</p>
    </header>
    {% include related-posts.html post=page %}
    {% if page.images_hd %}
      <img class="img-cover" src="{{ page.images_hd }}" alt="{{ page.title }}">
    {% endif %}
    <div class="article-detail">
      <p>{{ page.micro-regiao | capitalize }} - {{ page.autoria-local }}</p>
      <time datetime="{{ page.date }}" itemprop="datePublished">
        {{ page.date | pretty_datetime }}
      </time>
    </div>
    <div itemprop="articleBody" class="article-body">{{ content }}</div>
  </article>
  <br>
  {% include tag-list.html tags = page.tags %}
  {% include social-buttons.html article = page %}
</main>
<script type="text/javascript" src="{{ site.baseurl}}/assets/js/legend.js"></script>
