---
layout: tragedia
---
{% assign relatos = site.relatos %}
{% assign video_url = content | get_video_embeded %}

<main class="post">
  {% if video_url %}
    <article class="relato">
      <div itemprop="articleBody" class="article-body">
        <p>
          <iframe frameborder="0" src="{{ video_url }}"></iframe>
        </p>
      </div>
      <header>
        <h1 itemprop="name">{{ page.title }}</h1>
        <p itemprop="description">{{ page.support_line }}</p>
        <time datetime="{{ page.date }}" itemprop="datePublished">
          {{ page.date | pretty_date }}
        </time>
        {% include social-buttons.html article = page %}
      </header>
    </article>
  {% else %}
    <article>
      <header>
        <span class="editoria">{{ page.editoria | upcase }}</span>
        <h1 itemprop="name">{{ page.title }}</h1>
        <p itemprop="description">{{ page.support_line }}</p>
        {% include social-buttons.html article = page %}
      </header>
      {% include related-posts.html post=page %}
      {% if page.images_hd %}
        <img class="img-cover" src="{{ page.images_hd }}" alt="{{ page.title }}">
      {% endif %}
      <div class="article-detail">
        <p>{{ page.micro-regiao | capitalize }} - {{ page.autoria-local }}</p>
        <time datetime="{{ page.date }}" itemprop="datePublished">
          {{ page.date | pretty_datetime }}
        </time>
      </div>
      <div itemprop="articleBody" class="article-body">{{ content }}</div>
    </article>
    {% include social-buttons.html article = page %}
  {% endif %}
</main>

{% for relato in relatos %}
  {% if relato.title == page.title %}
    <ul class="relato-navigation">
      {% unless forloop.last %}
        {% assign next = relatos[forloop.index] %}
        <li>
          <a href="{{ site.baseurl }}{{ next.url }}">&larr; anterior</a>
        </li>
      {% endunless %}
      {% unless forloop.first %}
        <li>
          <a href="{{ site.baseurl }}{{ prev.url }}">próximo &rarr;</a>
        </li>
      {% endunless %}
    </ul>
  {% endif %}
  {% assign prev = relato %}
{% endfor %}

